@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
h1{
    font-family: lato;
    margin: 0;
    width: 300px;
    font-size: 16px;
    color: #a387c6;

}
h2{
    font-family: lato;
    font-size: 15px;
    margin: 0;
    color: #a387c6;

}

.song{
    display: flex;
    flex-direction: row;
    gap: 3em;
    min-height: 30px;
    max-height: 30px;
    width: 100%;
    border-top: 1px solid #a387c6;
    border-bottom: 1px solid #a387c6;
}

.playlist-container{
    display: flex;
    flex-direction: column;
}
#press{
    width: 30px;
    height: 30px;
    border: none;
    background-color: #52307C;
    font-weight: 600;
}

.playlist{
    display: none;
    flex-direction: column;
    align-items: center;
    width: 700px;
    background-color: #52307C;

    

}

.playlist-manager{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 100%;
}

.header{
    display: flex;
    flex-direction: row;
    gap: 1em;
}
.title{
    display: flex;
    flex-direction: row;
    background-color: #52307C;

    color: #a387c6;

    width: 700px;
    height: 30px;
}
.title p{
    display: flex;
    flex-direction: row;
    align-self: center;
    margin-left: 1em;


}
.playlist-controller{
    display: flex;
    flex-direction: row;
}

.rules{

    display: flex;
    flex-direction: row;
    gap: 3em;
    min-height: 30px;
    max-height: 30px;
    width: 100%;
    border-bottom: 1px solid #a387c6;
    border-top: 1px solid #a387c6;

}