.rule{
    width: 70%;
    margin: auto;
}

.rules-creation{
    display: flex;
    flex-direction: row;
    height: 40px;
    width: 95%;
    justify-content: space-evenly;
    margin: 1em auto;
    border: solid 2px black;
    padding: 3em 2em;
}

input[name="search-op"]{
    width: 300px;
}
.filter-choice{
    width: 200px;
}

#add-rule-btn{
    cursor: pointer;
    font-weight: 600;
}

.search-btn{
    display: none;
}