* {
  margin: 0;
  padding: 0;
}

a.logo {
  color: #1DB954;
  padding-left: 5%;
  font-size: x-large;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  text-decoration: none;
}

.navbar{
  position: fixed;
  top: 0;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000000;
  height: 60px;
  width: 100%;
  margin: 0px auto;
  padding: 0px;
}

.navlinks {
  padding-right: 40px;
  align-items: center;
  align-content: flex-end;
  justify-content: center, space-between;

}

button[id="home-button"] {
  
  color: #FFFFFF;
  font-size: medium;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  display: inline-block;
  border: 1px solid white;
  background-color: #000000;
  padding: 6px 12px;
}

button[id="click"] {
 
  color: #FFFFFF;
  font-size: medium;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  display: inline-block;
  border: 1px solid white;
  background-color: #000000;
  padding: 6px 12px;
}

body{
  margin: 0;
  position: static;
  padding: 0;
  z-index: 9;
  min-height: 90vh;
  background-color: #000000;
  background-image: linear-gradient(70deg, rgba(82, 48, 124, 0.4), rgb(0, 0, 0) );
  accent-color: #FFFFFF;
  overflow-y: scroll;
}


h1{
  margin-left: 20%;
  margin-top: 0.5em;
  margin-bottom: 1em;
  color: #FFFFFF;
  font-size: large;
  font-family: "Inter", Arial, Helvetica, sans-serif;
}

label[for="playlist-cover"] {
  margin-left: 20%;
  margin-top: 0.5em;
  margin-bottom: 1em;
  color: #FFFFFF;
  font-size: medium;
  font-family: "Inter", Arial, Helvetica, sans-serif;
}

label[for="playlist-name"] {
  margin-left: 20%;
  margin-top: 0.5em;
  margin-bottom: 1em;
  color: #FFFFFF;
  font-size: medium;
  font-family: "Inter", Arial, Helvetica, sans-serif;
}

label[for="playlist-desc"] {
  margin-left: 20%;
  margin-top: 0.5em;
  margin-bottom: 1em;
  color: #FFFFFF;
  font-size: medium;
  font-family: "Inter", Arial, Helvetica, sans-serif;
}

label[for="priv-pub"] {
  margin-left: 20%;
  margin-top: 0.5em;
  margin-bottom: 1em;
  color: #FFFFFF;
  font-size: medium;
  font-family: "Inter", Arial, Helvetica, sans-serif;
}

label[for="true"] {
  color: #FFFFFF;
  font-size: medium;
  font-family: "Inter", Arial, Helvetica, sans-serif;
}

label[for="false"] {
  color: #FFFFFF;
  font-size: medium;
  font-family: "Inter", Arial, Helvetica, sans-serif;
}

span {
  color: #FFFFFF;
  font-size: medium;
  font-family: "Inter", Arial, Helvetica, sans-serif;
}


.upload {
  margin-left: 20%;
  margin-top: 0.5em;
  margin-bottom: 1em;
  color: #FFFFFF;
  font-size: medium;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  display: inline-block;
  /* border: 2px solid white; */
  background-color: #000000;
  padding: 6px 12px;
  cursor: pointer;
}

input::file-selector-button {
  color: #FFFFFF;
  margin-right: 1em;
  font-size: medium;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  display: inline-block;
  border: 1px solid white;
  background-color: #000000;
  padding: 6px 12px;
}

input[type="text"] {
  margin-left: 20%;
  margin-top: 0.5em;
  margin-bottom: 1em;
  color: #FFFFFF;
  font-size: medium;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  display: inline-block;
  border: 1px solid white;
  background-color: #000000;
  padding: 6px 12px;
}

textarea {
  margin-left: 20%;
  margin-top: 0.5em;
  margin-bottom: 1em;
  color: #FFFFFF;
  font-size: medium;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  display: inline-block;
  border: 1px solid white;
  background-color: #000000;
  padding: 6px 12px;
}

input[type="radio"] {
  font-size: medium;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  margin-left: 20%;
  margin-top: 0.5em;  
}


.rule{
    width: 70%;
    margin: auto;
}

.rules-creation{
    display: flex;
    flex-direction: row;
    height: 40px;
    width: 95%;
    justify-content: space-evenly;
    margin: 1em auto;
    border: solid 2px white;
    padding: 3em 2em;
    border-radius: 20px;
}

input[name="search-op"]{
    width: 300px;
    height: 40px;
    align-items: center;
    align-content: center;
}

.search {
  margin-left: 20%;
  /* margin-bottom: 1em; */
  color: #FFFFFF;
  font-size: medium;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  display: inline-block;
  border: 1px solid white;
  background-color: #000000;
  /* padding: 6px 12px; */
}


.filter-choice{
    width: 200px;
}

.add {
  font-size: x-large;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  color: #FFFFFF;
  cursor: pointer;
  align-items: center;
  text-align: center;
  display: flex;
  font-weight: 600;
  border: 2px solid white;
  border-radius: 50%;
  padding: 10px;

}

.playlist-operation {

  color: #FFFFFF;
  font-size: medium;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  display: inline-block;
  border: 1px solid white;
  background-color: #000000;
  padding: 6px 12px;
}

.filter-choice {
 
  color: #FFFFFF;
  font-size: medium;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  display: inline-block;
  border: 1px solid white;
  background-color: #000000;
  padding: 6px 12px;
  
}

button[id="create-playlist"] {
  margin-left: 20%;
  margin-top: 0.5em;
  margin-bottom: 1em;
  color: #FFFFFF;
  font-size: medium;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  display: inline-block;
  border: 1px solid white;
  background-color: #000000;
  padding: 6px 12px;
}

button[class="button-op"] {

  color: #FFFFFF;
  font-size: medium;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  display: inline-block;
  border: 1px solid white;
  background-color: #000000;
  padding: 6px 12px;
}








