.rule{
    width: 80%;
    margin: auto;
}

.rules-creation{
    display: flex;
    flex-direction: row;
    height: 40px;
    width: 75px%;
    justify-content: space-evenly;
    margin: 1em auto;
    border: solid 1px black;
    padding: 3em 2em;
}

input[name="search-op"]{
    width: 350px;
}
.filter-choice{
    width: 200px;
}