* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

a {
    text-decoration: none;
}

h1{
    color: #FFFFFF;
    font-size: x-large;
    font-family: "Inter", Arial, Helvetica, sans-serif;
    text-align: center;
}

a.logo {
    color: #1DB954;
    padding-left: 5%;
    font-size: x-large;
    font-family: "Inter", Arial, Helvetica, sans-serif;
}


a.link {
    color: #1DB954;
    font-size: medium;
    font-family: "Inter", Arial, Helvetica, sans-serif;
}

a.hover {
    color: #1DB954;
    text-decoration: underline;
    font-size: medium;
    font-family: "Inter", Arial, Helvetica, sans-serif;
}

a.active {
    align-items: flex-end;
    color: #1DB954;
    text-decoration: underline;
    font-size: medium;
    font-family: "Inter", Arial, Helvetica, sans-serif;
}


.navbar{
    position: fixed;
    top: 0;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
    height: 60px;
    width: 100%;
    margin: 0px auto;
    padding: 0px;
}

.navlinks {
    padding-right: 40px;
    align-items: center;
    align-content: flex-end;
    justify-content: center, space-between;

}


body{
    margin: 0;
    overflow-y: scroll;
}

#video {
    width: 120%;
    overflow-x: hidden;
    align-content: center;
    align-self: center;
    position: fixed;
    left: -10%;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}

a.login {
    background-color: #1DB954;
    padding: 20px 30px;
    margin: auto;
    color: #FFFFFF;
    text-align: center;
    display: inline-block;
    border-radius: 20px;
    font-family: "Inter", Arial, Helvetica, sans-serif;
}

.how-it-works {
    position: absolute;
    max-width: 500px;
    top: 40%;
    left: 45%;
    transform: translate(-40%, -40%);
    margin: auto;
    overflow-y: scroll;
    align-content: center;
    text-align: center;
}

p.how-it-works {
    position: relative;
    margin: auto;
    max-width: 500px;
    color: #FFFFFF;
    text-align: left;
    display: inline-block;
    font-size: medium;
    font-family: "Inter", Arial, Helvetica, sans-serif;
}

ol.how-it-works {
    position: relative;
    line-height: 150%;
    margin: auto;
    color: #FFFFFF;
    text-align: left;
    font-size: medium;
    font-family: "Inter", Arial, Helvetica, sans-serif;
}
