* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

a {
    text-decoration: none;
}

h1{
    color: #FFFFFF;
    font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

a.logo {
    color: #FFFFFF;
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
}


a.link {
    color: #000000;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
}

a.hover {
    color: #000000;
    text-decoration: underline;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
}

a.active {
    align-items: flex-end;
    color: #000000;
    text-decoration: underline;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
}



.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1DB954;
    height: 40px;
    margin: 0px auto;
    padding: 0px;
}

.navlinks {
    padding-right: 20px;
    align-items: center;
    align-content: flex-end;
    justify-content: center, space-between;

}

.main-content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    align-content: center;
    text-align: center;

}



a.login {
    background-color: #000000;
    padding: 14px 25px;
    margin: auto;
    color: #1DB954;
    text-align: center;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
}





