@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
    margin: 0;
    position: static;
    padding: 0;
    min-height: 90vh;
    background-color: #000000;
    background-image: linear-gradient(70deg, rgba(82, 48, 124, 0.4), rgb(0, 0, 0), rgba(29, 185, 84, 0.6) );
    overflow-y: scroll;
}


a.logo {
    color: #1DB954;
    padding-left: 5%;
    font-size: x-large;
    font-family: "Inter", Arial, Helvetica, sans-serif;
    text-decoration: none;
}

.navbar {
    position: fixed;
    top: 0;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
    height: 60px;
    width: 100%;
    margin: 0px auto;
    padding: 0px;
}

.navlinks {
    padding-right: 40px;
    align-items: center;
    align-content: flex-end;
    justify-content: center, space-between;

}

h1{
    margin: 10px 0 10px;
    color: #FFFFFF;
    font-size: x-large;
    font-family: "Inter", Arial, Helvetica, sans-serif;
    
}
h2{
    font-size: 17px;
    margin: 0;
    font-weight: 400;
    color: #FFFFFF;
    font-size: large;
    font-family: "Inter", Arial, Helvetica, sans-serif;
}
h3{
    font-size: 15px;
    font-weight: 400;
    color: #FFFFFF;
    font-size: medium;
    font-family: "Inter", Arial, Helvetica, sans-serif;

    margin: 0;
}
h4{
    font-weight: 400;
    color: #FFFFFF;
    font-size: medium;
    font-family: "Inter", Arial, Helvetica, sans-serif;
    margin: 0;
}

table td {
    padding-bottom: 10px;
    border-bottom: solid thin; 

}

th{
    text-align: left;
    min-width: 250px;
    border-bottom: solid thin; 
    font-weight: 500;

    color: #FFFFFF;
    font-size: medium;
    font-family: "Inter", Arial, Helvetica, sans-serif;
}

li{
    display: flex;
    flex-direction: row;
    gap: 3em;
    width: 100%;
    height: 30px;
   
    color: #FFFFFF;
    font-size: small;
    font-family: "Inter", Arial, Helvetica, sans-serif;

}


tr:hover{
    cursor: pointer;
    background-color: rgba(0,0,0, .25);

}

table{
    margin: 1em 0 1em;
    width: 100%;
    border-collapse: collapse;
    color: #FFFFFF;
    font-size: medium;
    font-family: "Inter", Arial, Helvetica, sans-serif;
}

#press{
    cursor: pointer;

}
#press:hover{
    color: #7c9c82;
}

#rules-used{
    display: none;
    margin: 0 0 10px;

}

button{
    color: #1DB954;
    font-size: medium;
    font-family: "Inter", Arial, Helvetica, sans-serif;
    display: inline-block;
    border: 1px solid #1DB954;
    background-color: #000000;
    padding: 6px 12px;
}